<div class="card d-flex justify-content-between m-2 sm:w-50 xs:w-100">

  <div>

    <app-card-banner imgSrc={{all_data.cover_picture}} regEndTime={{regEndTime}} name = {{all_data.name}}
      regStatus={{all_data.registration_status}}></app-card-banner>

    <div class="d-flex flex-column justify-content-between  p-2 h6  ">
      <h5 class=" h6 fs-5">{{all_data.name}}</h5>

      <div class="d-flex flex-column justify-content-between ">
        <div class="d-flex justify-content-between">
          <app-card-details value1="Starts On" value2={{regStartTime}}></app-card-details>
          <app-card-details value1="Entry Fees" value2={{cost}}></app-card-details>
          <app-card-details value1="Venue" value2={{all_data.venue}}></app-card-details>
        </div>
        <app-card-descr description={{all_data.short_desc}}></app-card-descr>
      </div>

      <div class="d-flex justify-content-start">
        <span class="p-1 mx-1" style="background-color: #eee; font-size: 0.8rem;"
          *ngFor="let tag of tags;let i =index;">
          <span class="extra-tags">{{tag}}</span>
        </span>

        <span *ngIf="otherTag!=0" style="color: #FA7328;">+{{otherTag}} more</span>
      </div>

    </div>
  </div>


  <div *ngIf="all_data.registered_users.show_users_count ; else elseBlock"
    class="d-flex justify-content-between align-items-center p-1 border-top">

    <div>
      <app-registered *ngFor="let user of all_data.registered_users.top_users" imgSrc="{{user['image_url']}}"
        name="{{user['name']}}" otherUsers={{all_data.registered_users.other_users_count}}
        regStatus={{all_data.registration_status}}>
      </app-registered>

      <div class="d-flex">
        <p class="registered-para">and <strong>{{all_data.registered_users.other_users_count}}</strong> others
          <span *ngIf="all_data.registration_status=='PAST'"> participated.</span>
          <span *ngIf="all_data.registration_status!='PAST'">are participating.</span>
        </p>
      </div>

    </div>

    <div *ngIf="all_data.event_sub_category=== 'Upcoming'; ">
      <app-button value="Register Now" link={{all_data.slug}}></app-button>
    </div>

  </div>

  <ng-template #elseBlock>
    <div *ngIf="all_data.event_sub_category=== 'Upcoming' " class=" p-1 border-top">
      <app-button value="Register Now" link={{all_data.slug}}></app-button>
    </div>
  </ng-template>


</div>