.box {
  height: 619px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 2.8rem;
  color: #fa7328;
}

@media screen and (max-width:350px) {
 h1{
  font-size:1rem;
  margin-left: -10px;
 } 
}