<div class=" sm:w-100 xs:w-50 ">
  <h3 class="tagName">TAGS</h3>
  <div class="flex flex-col justify-content-around">

    <div class="cursor tagName" *ngFor="let tag of curr_tags; let indexOfelement=index;">

      <!-- Passing necessary data from parent to child by binding method -->

      <app-tag-list [tag]="tag" [index]="indexOfelement" [tag_status]="tag_status" [alltags]="alltags" (click)="tagClicked(tag)">
      </app-tag-list>

    </div>

  </div>

  <div *ngIf="flag==false; else elseBlock"><span (click)="ShowMore()" class="cursor">See more</span></div>
  
  <ng-template #elseBlock>
    <span (click)="ShowLess()" class="cursor">See Less</span>
  </ng-template>

</div>