.banner-container{
  position: relative;
  z-index: 1;
}
.card-img{
  width: 100%;
  min-height: 180px;
}
.register-badge{
        
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  color: #FFFFFF;
  
}
.text-1{
  color: rgb(125,125,134);
  font-size: .9rem;
}
.text-2{
  font-size: .7rem;
  background-color: white;
  color: black;
}
/*blinking dot*/
circle{
  filter: blur(1px);
}

/* .blinking {
-webkit-animation: 1s blink ease infinite;
-moz-animation: 1s blink ease infinite;
-ms-animation: 1s blink ease infinite;
-o-animation: 1s blink ease infinite;
animation: 1s blink ease infinite;

} */
.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
  
}

 

@keyframes up-right {
  0% {
      transform: scale(1);
      opacity: .25
  }
  50% {
      transform: scale (1, 5);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: .25;
  }
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  opacity: .25;
}
.red {
  background-color: red;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  margin-bottom: 3.3px;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}