.tagName {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
  background-color: red;
  color: #424242;
  font-size: 14px;
  padding: 12px;
  font-weight: 400;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 10px;
  background: #eee;
  cursor: pointer;
  text-decoration: none;
}

.selected {
  color: #fff;
  background: #fa7328;
}

.tag{
  cursor: pointer;
  display: inline-flex;
  user-select: none;
}