<!-- Main component is the main component where we are linking all basic components of this project  -->
<!-- 
There are two main components 
1. Card component
2. Tag component -->


<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="cont container">

      <ul class="pe-2 pt-3 ps-3 d-flex justify-content-between col-lg-10">
        <li class="d-flex me-4" (click)="onClickCategory('ALL_EVENTS')">
          <img class="imgSrc" [ngStyle]="{'display': (curr_category!='ALL_EVENTS')?'':'none'}"
            src="../../../assets/images/allEventsInactive.svg" alt="all-events-logo" />
          <img class="imgSrc" [ngStyle]="{'display': (curr_category=='ALL_EVENTS')?'':'none'}"
            src="../../../assets/images/allEventsActive.svg" alt="all-events-logo" />
          <span [ngClass]="(curr_category=='ALL_EVENTS')?'active':'inactive'">All Events</span>
        </li>


        <li class="d-flex me-4" (click)="onClickCategory('WEBINAR')">
          <img class="imgSrc" [ngStyle]="{'display': (curr_category!='WEBINAR')?'':'none'}"
            src="../../../assets/images/webinarInactive.svg" alt="webinar-logo" />
          <img class="imgSrc" [ngStyle]="{'display': (curr_category=='WEBINAR')?'':'none'}"
            src="../../../assets/images/webinarsActive.svg" alt="webinar-logo" />
          <span [ngClass]="(curr_category=='WEBINAR')?'active':'inactive'">Webinars</span>
        </li>


        <li class="d-flex me-4" (click)="onClickCategory('CODING_EVENT')">
          <img class="imgSrc" [ngStyle]="{'display': (curr_category!='CODING_EVENT')?'':'none'}"
            src="../../../assets/images/codingEventsInactive.svg" alt="coding-events-logo" />
          <img class="imgSrc" [ngStyle]="{'display': (curr_category=='CODING_EVENT')?'':'none'}"
            src="../../../assets/images/codingEventsActive.svg" alt="coding-events-logo" />
          <span [ngClass]="(curr_category=='CODING_EVENT')?'active':'inactive'">Coding Events</span>
        </li>


        <li class="d-flex me-4" (click)="onClickCategory('BOOTCAMP_EVENT')">
          <img class="imgSrc" [ngStyle]="{'display': (curr_category!='BOOTCAMP_EVENT')?'':'none'}"
            src="../../../assets/images/bootcampEventsInactive.png" alt="bootcamp-logo" />
          <img class="imgSrc" [ngStyle]="{'display': (curr_category=='BOOTCAMP_EVENT')?'':'none'}"
            src="../../../assets/images/BootcampEventsActive.png" alt="bootcamp-logo" />
          <span [ngClass]="(curr_category=='BOOTCAMP_EVENT')?'active':'inactive'">Bootcamp Events</span>
        </li>


        <li class="d-flex me-4" (click)="onClickCategory('WORKSHOP')">
          <img class="imgSrc" [ngStyle]="{'display': (curr_category!='WORKSHOP')?'':'none'}"
            src="../../../assets/images/workshopInactive.png" alt="workshop-logo" />
          <img class="imgSrc" [ngStyle]="{'display': (curr_category=='WORKSHOP')?'':'none'}"
            src="../../../assets/images/workshopActive.png" alt="workshop-logo" />
          <span [ngClass]="(curr_category=='WORKSHOP')?'active':'inactive'">Workshops</span>
        </li>

       


      </ul>


    </div>
  </nav>

  <mat-divider></mat-divider>


  <!-- Second Navbar Begins  -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="cont container second">
      <ul class="pe-2 pt-1 ps-3 pb-0 d-flex ">


        <li class="nav-item subcategory li-fix">
          <span (click)="onClickSubCategory('Upcoming')"
            [ngClass]="(curr_subcategory=='Upcoming')?'active':'inactive'">Upcoming</span>
        </li>


        <li class="nav-item subcategory li-fix">
          <div *ngIf="curr_category=='WEBINAR'; else elseBlock">
            <span (click)="onClickSubCategory('Archived')"
              [ngClass]="(curr_subcategory=='Archived')?'active':'inactive'">Recorded</span>
          </div>
          <ng-template #elseBlock>
            <span (click)="onClickSubCategory('Archived')"
              [ngClass]="(curr_subcategory=='Archived')?'active':'inactive'">Archived</span>
          </ng-template>
        </li>


        <li class="nav-item subcategory li-fix">
          <div>
            <span [ngStyle]="{ 'display': (curr_category=='CODING_EVENT')?'none':'block' }"
              (click)="onClickSubCategory('All Time Favorites')"
              [ngClass]="(curr_subcategory=='All Time Favorites')?'active':'inactive'">All Time
              Favourites</span>
          </div>
        </li>

        <li class="nav-item subcategory">
          <div>
            <!-- <app-search (text_to_search) = "getsearchtext($event)"></app-search> -->
              <input class="form-control search-hero" type="text" name="search" [(ngModel)] = "searchText" autocomplete="off" placeholder="Search an Event">
          </div>
        </li>
          

        
      </ul>
    </div>
  </nav>

  <mat-divider></mat-divider>


  <!-- Showing Event Data fetched by event API  -->

  <mat-divider></mat-divider>

  <div class="row p-2 pt-4">

    <div *ngIf="totPages!=0" class="col-lg-9 d-flex flex-wrap justify-content-start">
      <div *ngFor= "let event of events | filter: searchText" class="d-flex justify-content-center">

            <app-card class="" 
              [all_data]=event
              regStartTime="{{event['event_start_time'] * 1000 | date: 'hh:mm aaa, dd MMM yyyy'}}"
              regEndTime="{{event['registration_end_time'] * 1000 | date: 'dd MMM, hh:mm aaa'}}">
            </app-card>

      </div>

    </div>

    <div *ngIf="totPages==0" class="col-lg-9 d-flex flex-wrap justify-content-start">
      <div class="d-flex justify-content-center">
        <app-no-event></app-no-event>
      </div>
    </div>


    <!-- Tag property management  -->


    <div class="col-lg-3 d-flex justify-content-start ">
      <app-tags *ngIf="toDisplay" class="tags" (tagChange)="changeTag($event)"></app-tags>
    </div>

  </div>

  <!-- Paging Management  -->


  <div class="row box">

    <div class="col-lg-9 d-flex flex-row-reverse align-items-center justify-content-center ">

      <div *ngIf="curPage != totPages">
        <button class="btn btn-md ms-1 text-light" style="background-color: '#fa7328' "
          (click)="nextPage()">&gt;</button>
      </div>

      <div *ngIf="curPage == totPages">
        <button disabled="true" class="btn btn-md ms-1 text-light" style="background-color:'#fa7328' "
          (click)="nextPage()">&gt;</button>
      </div>

      <span> Page <input class="text-center" value="" style="width: 40px;" type="number" min="1" max="{{totPages}}"
          id="pageVal" name="pageVal" placeholder="{{ curPage }}" (change)="functionPage()">
        of {{ totPages }}
      </span>

      <div *ngIf="curPage != 1">
        <button class="btn btn-md me-1 text-light" style="background-color: '#fa7328' " (click)="prevPage()">
          &lt;
        </button>
      </div>

      <div *ngIf="curPage == 1">
        <button disabled="true" class="btn btn-md me-1 text-light" style="background-color: '#fa7328' "
          (click)="prevPage()">&lt;</button>
      </div>

    </div>

  </div>
</div>


<div class="box">
  <button class="filter" style="display: none;" (click)="ToggleTags()">Filter Events</button>
</div>
